################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/SkelFinder.exe.config
/bin/Debug/SkelFinder.pdb
/obj
